body{
  background-image: url("/static/assets/loginbg.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.btn-primary-green {
  background-color: #95c22b;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 10px 24px;
  transition: background-color 0.25s ease;
}

.bg-primary-green {
  background-color: #95c22b !important;
}

.btn-primary-green:hover {
  background-color: #80a626;
}

.btn-dark-green {
  background-color: #80a626;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 10px 24px;
}

.txt-primary-green {
  color: #95c22b !important;
}

.container-fluid-login {
  display: flex;
  align-items: center !important;
  justify-content: center;
  align-content: center !important;
  min-height: 100vh;
}

.login-logo {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.wrapper-card-login {
  width: 30rem !important;
  padding: 35px;
  border-radius: 5px;
}

#button-signup,
#button-login {
  cursor: pointer !important;
}

#button-signup:hover,
#button-login:hover {
  color: #95c22b;
}

.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 0.25s linear;
}

@keyframes fade {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 1920px) {
  .wrapper-card-login {
    width: 30vw;
  }
}

@media (max-width: 1280px) {
  .wrapper-card-login {
    width: 30vw;
  }
}

@media (max-width: 1024px) {
  body{
    background-image: url("/static/assets/tabletloginbg.png");
  }
  .wrapper-card-login {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .wrapper-card-login {
    width: 45vw;
  }
}

@media (max-width: 576px) {
  body{
    background-image: none;
    background-color: #fff !important;
  }
  .wrapper-card-login {
    width: 93vw !important;
    padding: 20px;
  }
}
