.profile {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-image {
  height: 35px;
  margin-top: 5px;
}

.text-glean {
  color: #95c22b;
}

.text-glean2 {
  color: #b0f026da;
}

.text-glean3 {
  color: #cbe790d3;
}

.text-glean4 {
  color: #e6f3c9cc;
}

.text-secondary-gray {
  color: #5c5e5c !important;
}

.bg-glean {
  background-color: #95c22b !important;
}

.row .col-md-6:nth-child(1) {
  animation: animate-card 500ms ease-in-out;
}

.row .col-md-6:nth-child(2) {
  animation: animate-card 500ms ease-in-out;
}
.row .col-md-12 {
  animation: animate-card 500ms ease-in-out 100ms;
}

@keyframes animate-card {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* responsive css */

@media (max-width: 1920px) {
}

@media (max-width: 1024px) {
  .text-link {
    font-size: 0.8em;
  }
  .logo-image {
    height: 30px;
  }
  .res-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .text-link {
    font-size: 0.8em;
  }
  .search-bar {
    margin-left: 5px;
    margin-right: 5px;
  }
  .logo-image {
    height: 25px;
  }
  .profile {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .res-text {
    font-size: 0.8rem;
  }

  #hero-img {
    height: 10rem !important;
  }

  #member-since {
    font-size: 1rem !important;
  }
}
