<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
    <meta name="viewport" content="width=device=width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/cart.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>

  <body>
    <div
      id="toast-cart"
      class="toast position-fixed start-50 translate-middle-x"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      style="z-index: 11; top: 1.5rem"
    >
      <div class="d-flex bg-white rounded">
        <div class="bg-danger rounded-start" style="width: 1rem"></div>
        <div class="toast-body mx-auto fs-6" id="toast-message">
          Something went wrong
        </div>
        <button
          type="button"
          class="btn-close btn-close-dark my-auto me-2"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>

    <header>
      <div class="container py-1 py-md-2 text-center px-0">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-4 d-flex mb-3 mt-3">
              <a href="/store" class="ms-2">
                <img src="/static/assets/logo.svg" class="logo-image" />
              </a>
            </div>

            <div
              class="d-none d-md-block col-md-4 my-auto position-relative px-md-0 pt-1"
            >
              <input
                onkeyup="search(event)"
                id="search-product"
                type="text"
                class="form-control bg-light border-0 rounded-pill search-bar px-3"
                placeholder="Search"
              />
              <i
                class="bi bi-search position-absolute top-50 end-0 translate-middle-y pe-3 text-muted fw-bold pt-md-1 pt-xl-1"
              ></i>
            </div>

            <div
              class="pt-1 col-6 col-md-4 d-flex justify-content-end justify-content-md-end align-items-center"
            >
              <div class="d-flex">
                {% if user %}
                <div class="dropdown">
                  <a
                    class="nav-link text-link text-muted dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-person-circle"></i> &nbsp;{{user.firstname}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/profile"
                        ><i class="bi bi-person-circle"></i> &nbsp;&nbsp;My
                        Account</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/tracking"
                        ><i class="bi bi-box"></i> &nbsp; Order Tracking</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/settings"
                        ><i class="bi bi-gear"></i> &nbsp; Settings</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/logout"
                        ><i class="bi bi-box-arrow-right"></i> &nbsp; Log out</a
                      >
                    </li>
                  </ul>
                </div>
                {% else %}
                <a class="nav-link text-link text-muted mx-2" href="/login"
                  >Sign in</a
                >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="pt-2" style="background-color: #f8f9fa">
        <div class="d-block d-md-none container mt-3 position-relative">
          <input
            onkeyup="search(event)"
            id="search-products"
            type="text"
            class="form-control bg-white border-0 rounded search-bar m-0"
            placeholder="Search"
          />
          <i
            class="bi bi-search position-absolute top-50 end-0 translate-middle-y pe-4 text-muted fw-bold"
          ></i>
        </div>

        <div class="container cart py-3 py-md-3 py-lg-4">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col">
              {% if total > 0 %}
              <p><span class="h2">Shopping Cart </span></p>
              <p>
                <span class="h5 text-primary-green">
                  {{ total }} item(s) in your cart</span
                >
              </p>
              {% endif %}
              <div class="card border-0 mb-4">
                {% set total_price = namespace(value=0) %} {% for item in cart
                %}
                <div
                  id="{{item.product.id}}"
                  class="card-body p-4 text-center border-bottom"
                >
                  <!-- cart cards-->
                  <div
                    class="row align-items-center justify-content-center gy-sm-0 gy-1"
                  >
                    <div class="col-md-2 mb-2 mb-md-0">
                      <img
                        src="{{item.product.image}}"
                        class="img-fluid rounded"
                        alt="Generic placeholder image"
                      />
                    </div>
                    <div class="col-md-2">
                      <p class="small text-muted cart-text">Item</p>
                      <p class="">{{ item.product.name }}</p>
                    </div>
                    <div class="col-md-2">
                      <p class="small text-muted cart-text d-md-block d-none">
                        Category
                      </p>
                      <p class="badge color-glean">
                        {{ item.product.category }}
                      </p>
                    </div>
                    <div class="col-4 col-md-1">
                      <p class="small text-muted cart-text">Qty</p>
                      <p class="">{{ item.quantity }}</p>
                    </div>
                    <div class="col-4 col-md-2">
                      <p class="small text-muted cart-text">Price</p>
                      <p class="">{{ item.product.price }}</p>
                    </div>
                    <div class="col-4 col-md-2 pe-sm-5">
                      <p class="small text-muted cart-text">Total</p>
                      <p class="">{{ item.product.price * item.quantity }}</p>
                    </div>
                    <div class="col-md-1">
                      <i
                        class="bi bi-trash3 my-2 fs-5 pe-md-5"
                        id="cart-item-delete"
                        onclick="remItem(event, '{{ item.product.id }}')"
                        style="cursor: pointer"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Remove from cart"
                      ></i>
                      <p class="text-danger cart-text d-md-none">
                        Remove from Cart
                      </p>
                      <!-- remove item from cart, insert onclick function here -->
                    </div>
                  </div>
                </div>
                {% set total_price.value = total_price.value +
                (item.product.price * item.quantity) %} {% endfor %}
              </div>
              <!--no item prompt here-->
              {% if total == 0 %}
              <div
                id="no-favs"
                class="d-flex flex-column align-items-center justify-content-center w-100"
                style="height: 25rem"
              >
                <i class="bi bi-cart-x display-1 text-primary-green"></i>
                <p class="fs-4 mt-2 fw-lighter text-muted">
                  You cart is empty.
                </p>
              </div>
              {% endif %} {% if cart|length > 0 %}
              <div class="card border-0 mb-5">
                <div class="card-body p-4">
                  <div class="float-end">
                    <p class="mb-0 me-5 d-flex align-items-center">
                      <span class="small text-muted me-2">Order total:</span>
                      <span id="totalPrice" class="lead fw-normal"
                        >₱ {{ total_price.value }}</span
                      >
                    </p>
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="d-flex justify-content-end">
                <a
                  type="button"
                  class="btn color-secondary text-white p-2 px-3 rounded-pill me-3 fw-normal text-link"
                  href="/store"
                  >Continue shopping</a
                >
                {% if total > 0 %}
                <a
                  type="button"
                  class="btn color-glean text-white p-2 px-3 rounded-pill me-3 fw-normal text-link"
                  onclick="proceedCheckout()"
                  >Check Out</a
                >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-muted text-link">
          &copy; 2022 gleanprojecteam
        </p>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="/store" class="nav-link px-2 text-muted text-link">Home</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
