<!DOCTYPE html>
<html>
  <head>
    <title>Glean Project Store</title>
    <meta name="viewport" content="width=device=width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>

  <body>
    <div
      id="toast_addedToCart"
      class="toast position-fixed start-50 translate-middle-x"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      style="z-index: 11; top: 1.5rem"
    >
      <div class="d-flex bg-white rounded">
        <div class="bg-primary-green rounded-start" style="width: 1rem"></div>
        <div class="toast-body mx-auto fs-6" id="toast-message">
          Item Added to Cart
        </div>
        <button
          type="button"
          class="btn-close btn-close-dark my-auto me-2"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>

    <header>
      <div class="container py-1 py-md-2 text-center border-bottom px-0">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-4 d-flex mb-3 mt-3">
              <a href="/store" class="ms-2">
                <img src="/static/assets/logo.svg" class="logo-image" />
              </a>
            </div>

            <div
              class="d-none d-md-block col-md-4 my-auto position-relative px-md-0 pt-1"
            >
              <input
                onkeyup="search(event)"
                id="search-product"
                type="text"
                class="form-control bg-light border-0 rounded-pill search-bar px-3"
                placeholder="Search"
              />
              <i
                class="bi bi-search position-absolute top-50 end-0 translate-middle-y pe-3 text-muted fw-bold pt-md-1 pt-xl-1"
              ></i>
            </div>

            <div
              class="pt-1 col-6 col-md-4 d-flex justify-content-end justify-content-md-end align-items-center"
            >
              <div class="d-flex">
                {% if user %}
                <a
                  class="nav-link text-link text-muted position-relative d-flex"
                  href="/cart"
                  ><i class="bi bi-bag"></i>
                  <span
                    id="badge_cartQty"
                    class="position-absolute translate-middle badge rounded-pill bg-danger"
                    style="top: 10%; left: 90%"
                  >
                    {{ total }}
                  </span>
                  &nbsp;Cart
                </a>
                <div class="dropdown">
                  <a
                    class="nav-link text-link text-muted dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-person-circle"></i> &nbsp;{{user.firstname}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/profile"
                        ><i class="bi bi-person-circle"></i> &nbsp;&nbsp;My
                        Account</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/tracking"
                        ><i class="bi bi-box"></i> &nbsp; Order Tracking</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/settings"
                        ><i class="bi bi-gear"></i> &nbsp; Settings</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/logout"
                        ><i class="bi bi-box-arrow-right"></i> &nbsp; Log out</a
                      >
                    </li>
                  </ul>
                </div>
                {% else %}
                <a class="nav-link text-link text-muted mx-2" href="/login"
                  >Sign in</a
                >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="d-block d-md-none container mt-3 position-relative">
      <input
        onkeyup="search(event)"
        id="search-products"
        type="text"
        class="form-control bg-light border-0 rounded search-bar m-0"
        placeholder="Search"
      />
      <i
        class="bi bi-search position-absolute top-50 end-0 translate-middle-y pe-4 text-muted fw-bold"
      ></i>
    </div>

    <nav class="container my-3">
      {% if user %}
      <ul
        class="nav justify-content-center justify-content-md-start"
        role="tablist"
      >
        <li class="nav-item me-lg-2">
          <a
            class="nav-link text-link ps-md-2 active py-1"
            data-bs-toggle="tab"
            data-bs-target="#home-tab"
            href=""
            ><i class="bi bi-person"></i> &nbsp; Individual</a
          >
        </li>
        <li class="nav-item me-lg-2">
          <a
            class="nav-link text-link py-1"
            data-bs-toggle="tab"
            data-bs-target="#subscription-tab"
            href=""
            ><i class="bi bi-box"></i> &nbsp; Subscription</a
          >
        </li>
        <li class="nav-item me-lg-2">
          <a
            class="nav-link text-link py-1"
            data-bs-toggle="tab"
            data-bs-target="#favorites-tab"
            href=""
            ><i class="bi bi-star"></i> &nbsp; Favorites</a
          >
        </li>
      </ul>
      {% endif %}
    </nav>

    <main>
      {% if expires %}
      <div
        class="alert alert-warning d-flex align-items-center mb-0 justify-content-center"
        role="alert"
      >
        <i class="bi bi-exclamation-triangle-fill me-2 fs-4"></i>
        <div>Your password will expire in {{expires}} day(s)</div>
      </div>
      {% endif %}
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home-tab">
          <section class="container carousel-pad">
            <div
              id="individualhead"
              class="carousel slide"
              data-bs-ride="carousel"
              style="display: block"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#individualhead"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#individualhead"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#individualhead"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner w-100">
                <div class="carousel-item active">
                  <img
                    src="/static/assets/individual1.png"
                    class="store-carousel-bg w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-link text-carousel">
                      Solely for Individuals
                    </h5>
                    <p class="text-link text-carousel">
                      Buy fresh ingredients and make your dish the way you want
                      it.
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="/static/assets/individual2.png"
                    class="store-carousel-bg w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-link text-carousel">Broad Options</h5>
                    <p class="text-link text-carousel">
                      Many options are provided that you can choose from.
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="/static/assets/individual3.png"
                    class="store-carousel-bg w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-link text-carousel">Proper and Adequate</h5>
                    <p class="text-link text-carousel">
                      We have measured all the required ingredients optimally.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="album pt-4 pb-5">
            <div
              class="container elementToFadeInAndOut"
              id="individualcards"
              style="display: block"
            >
              <!--Individuals Section-->
              <div
                id="cards-container"
                class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-2 g-sm-2 g-xxl-4 g-md-3"
              >
                {% for product in products %} {% if product.stock > 0 %}
                <div class="col">
                  <div
                    class="card shadow-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-{{ product.id }}"
                  >
                    <!-- cards -->
                    <img
                      src="{{product.image}}"
                      alt="{{product.name}}"
                      class="card-img-top card-ggc"
                    />
                    <div class="card-body card-body-height">
                      <h5 class="overflow-ellipsis">{{ product.name }}</h5>
                      <p class="card-text card-description">
                        {{ product.description }}
                      </p>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center ms-3 mt-1 mb-3"
                    >
                      <span
                        class="badge rounded-pill bg-primary-green prod-category"
                        >{{ product.category }}</span
                      >
                    </div>
                  </div>

                  <div
                    class="modal fade"
                    id="modal-{{ product.id }}"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div class="container px-lg-5 my-5 mt-3">
                            <div class="row gx-4 gx-lg-5 align-items-center">
                              <div class="col-md-12 col-lg-6">
                                <img
                                  class="card-img mb-5 mb-md-0"
                                  src="{{ product.image }}"
                                />
                              </div>
                              <div class="col-md-12 col-lg-6 mt-4">
                                <span
                                  class="badge rounded-pill bg-primary-green mb-1"
                                  >{{ product.category }}</span
                                >
                                <p
                                  class="fs-2 fw-bolder"
                                  id="{{ product.id }}-product-name"
                                >
                                  {{ product.name }}
                                </p>
                                <div class="fs-5 mb-2">
                                  <span id="{{ product.id }}-product-price"
                                    >₱{{product.price}}</span
                                  >
                                </div>
                                <p class="lead fs-6">
                                  {{ product.description }}
                                </p>
                                <p class="lead fs-5 fw-bold">
                                  What's in the box
                                </p>
                                <p class="lead fs-6 mt-1">
                                  {{ product.ingredients }}
                                </p>
                                <div class="d-flex pt-4">
                                  <input
                                    class="form-control text-center me-3"
                                    id="{{product.id}}-inputQuantity"
                                    type="number"
                                    max="9"
                                    min="1"
                                    value="1"
                                    style="max-width: 3.5rem"
                                  />

                                  {% if user %} {% if product.id in favorites_id
                                  %}
                                  <button
                                    onclick="favorite(event, '{{product.id}}')"
                                    class="btn-favorite flex-shrink-0 me-2"
                                    type="button"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                    id="button-favorite-{{product.id}}"
                                  >
                                    <i class="bi bi-heart-fill"></i>
                                  </button>
                                  {% else %}
                                  <button
                                    onclick="favorite(event, '{{product.id}}')"
                                    class="btn-favorite flex-shrink-0 me-2"
                                    type="button"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                    id="button-favorite-{{product.id}}"
                                  >
                                    <i class="bi bi-heart"></i></button
                                  >{% endif %} {% endif %}

                                  <button
                                    onclick="addtoCart('{{user.id}}', '{{product.id}}')"
                                    class="btn-primary-green flex-shrink-0"
                                    type="button"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  >
                                    <i
                                      class="bi bi-cart-plus me-1 text-white"
                                    ></i>
                                    Add to cart
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %} {% endfor %}
              </div>
            </div>
          </div>
        </div>

        {% if subscription %}
        <div class="album tab-pane fade" id="subscription-tab">
          <div class="container mb-5 pb-5 mt-md-3">
            <div
              class="row gap-5 justify-content-center justify-content-md-start"
            >
              <div
                class="col col-11 shadow rounded col-lg-7 p-3 py-md-4 px-md-5 position-relative border"
                style="border-radius: 2rem !important"
              >
                <div class="container p-2">
                  <div
                    class="d-flex align-items-center flex-column flex-md-row"
                  >
                    <h1 class="fw-bold text-secondary-gray me-2">
                      Subscription Active
                    </h1>
                    {% if subscription.type == "Family" %}
                    <span class="badge rounded-pill bg-primary-green fs-6">
                      Family <i class="bi bi-house-fill"></i>
                    </span>
                    {% elif subscription.type == "Single" %}
                    <span class="badge rounded-pill bg-primary-green fs-6">
                      Single <i class="bi bi-person-fill"></i>
                    </span>
                    {% elif subscription.type == "Couple" %}
                    <span class="badge rounded-pill bg-primary-green fs-6">
                      Couple <i class="bi bi-people-fill"></i>
                    </span>
                    {% endif %}
                  </div>
                  <div class="d-flex justify-content-center mt-5">
                    <h4 class="mt-1 mt-md-3 fw-light">₱</h4>
                    <h1 class="mx-1 display-5 fw-bold text-secondary-gray">
                      {{ subscription.price }}
                    </h1>
                    <h4 class="mt-1 mt-md-3 fw-light">/week</h4>
                  </div>
                  <div
                    class="mx-auto d-flex justify-content-center border-top border-2 px-5 pt-1 flex-column flex-md-row text-center"
                    style="width: fit-content"
                  >
                    <h2 class="mx-1 fw-light">Delivery every</h2>
                    <h2 class="mx-1 text-secondary-gray">
                      {{ subscription.delivery_day }}
                    </h2>
                  </div>
                  <div
                    class="d-flex mt-4 mt-md-5 justify-content-center flex-column align-items-center"
                  >
                    <div class="d-flex mb-3 mt-3">
                      <h3 class="fw-bold me-2 my-auto text-primary-green">
                        Shipping Address
                      </h3>
                      <span
                        class="my-auto pt-1 text-secondary-gray"
                        style="cursor: pointer"
                      >
                        Change</span
                      >
                    </div>
                    <h4 class="mb-0">
                      {{ subscription.location.province }}, {{
                      subscription.location.city }} {{ subscription.location.zip
                      }}
                    </h4>
                    <h5 class="fw-light">
                      {{ subscription.location.address }}
                    </h5>
                  </div>
                  <div
                    class="d-flex justify-content-center mt-md-4 mb-3 mb-md-1"
                  >
                    <button
                      class="mt-5 btn btn-lg btn-secondary rounded-pill"
                      data-bs-target="#modal-cancel-subscription"
                      data-bs-toggle="modal"
                    >
                      Cancel Subscription
                    </button>
                  </div>
                </div>

                <i
                  class="bi bi-circle-fill position-absolute end-0 top-0 p-3 text-glean"
                ></i>

                <div class="circles">
                  <i
                    class="bi bi-circle-fill position-absolute display-1 text-glean2"
                    style="top: 74%; left: -2rem; font-size: 7rem"
                  ></i>
                  <i
                    class="bi bi-circle-fill position-absolute display-5 text-glean3"
                    style="top: 64%; left: -0.5rem"
                  ></i>
                  <i
                    class="d-none d-md-block bi bi-circle-fill position-absolute display-3 text-glean4"
                    style="top: 85%; left: 5rem"
                  ></i>

                  <i
                    class="bi bi-circle-fill position-absolute text-glean3"
                    style="top: 80%; right: -3rem; font-size: 7.5rem"
                  ></i>
                  <i
                    class="bi bi-circle-fill position-absolute text-glean2"
                    style="top: 63%; right: -1rem; font-size: 5rem"
                  ></i>
                  <i
                    class="bi bi-circle-fill position-absolute display-4 text-glean4"
                    style="top: 78%; right: 5rem"
                  ></i>
                </div>
              </div>
              <div class="col col-11 col-lg-4 p-0 ms-lg-3">
                <div
                  class="shadow rounded d-flex px-4 pt-3 flex-column"
                  style="border-radius: 1rem !important"
                >
                  <i class="ms-auto bi bi-circle-fill text-glean"></i>
                  <div
                    class="d-flex border-start border-5 p-0 ps-3 mt-3 flex-column justify-content-center"
                    style="border-color: #95c22b !important"
                  >
                    <h3 class="text-secondary-gray mb-0 fw-bolder mt-1">
                      Next Payment Charge
                    </h3>
                    <p class="text-secondary-gray fs-5 mt-1 mb-2">
                      {{ subscription.next_payment.strftime('%B %d, %Y') }}
                    </p>
                  </div>
                  <button
                    class="btn btn-sm color-glean text-white rounded-pill ms-auto mb-3"
                    style="width: fit-content"
                  >
                    Settings
                  </button>
                </div>
                <div
                  class="shadow rounded d-flex px-4 py-3 flex-column mt-5"
                  style="border-radius: 1rem !important"
                >
                  <i class="ms-auto bi bi-circle-fill text-glean"></i>
                  <div
                    class="d-flex border-start border-5 p-0 ps-3 mt-2 mb-4 flex-column justify-content-center pb-2"
                    style="border-color: #95c22b !important"
                  >
                    <h3 class="text-secondary-gray mb-0 fw-bolder mt-1 mb-1">
                      Meal Preferences
                    </h3>
                    {% for preference in preferences %}
                    <p class="text-secondary-gray fs-5 my-0">{{preference}}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="modal-cancel-subscription"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <form method="POST" action="/cancel_subscription">
                <div class="modal-body p-4 text-center">
                  <p class="fs-5">Proceed to cancel subscription?</p>
                  <div class="d-flex gap-2 justify-content-center mt-2">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <button
                      type="submit"
                      class="btn bg-primary-green text-white"
                    >
                      Confirm
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% else %}
        <div class="album pb-5 tab-pane fade" id="subscription-tab">
          <div class="container pb-0 pb-md-4 px-0 px-md-2">
            <img
              src="/static/assets/subsheader.png"
              class="store-carousel-bg w-100"
              alt="..."
              id="subsheader"
            />
            <img
              src="/static/assets/subsheadermobile.png"
              class="store-carousel-bg w-100"
              alt="..."
              id="subsheader-mobile"
              style="display: none"
            />
          </div>
          <div class="container elementToFadeInAndOut" id="subscriptioncards">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card card-subscription mb-3 shadow-sm">
                  <div class="card-body text-center">
                    <h3 class="card-title">Single</h3>
                    <h5 class="card-title">
                      ₱1199.00<small class="text-muted fw-light">/week*</small>
                    </h5>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li class="text-link">Once a week delivery.</li>
                      <li class="text-link">2 meals for 1 person.</li>
                      <li class="text-link">6 total meals.</li>
                      <li class="text-link">Cancel any time.</li>
                    </ul>
                    <button
                      type="button"
                      class="w-100 btn-subscribe-green"
                      data-bs-toggle="modal"
                      data-bs-target="#subscription-modal"
                      onclick="$('#subscription-type').val('Single'); 
                      $('#total-price').val('1199');
                      $('#base-price').text('1199');"
                    >
                      Get Started
                    </button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-subscription mb-4 shadow-sm">
                  <div class="card-body text-center">
                    <h3 class="card-title">Couple</h3>
                    <h5 class="card-title">
                      ₱2299.00<small class="text-muted fw-light">/week*</small>
                    </h5>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li class="text-link">Once a week delivery.</li>
                      <li class="text-link">2 meals for 2 person.</li>
                      <li class="text-link">12 total meals.</li>
                      <li class="text-link">Cancel any time.</li>
                    </ul>
                    <button
                      type="button"
                      class="w-100 btn-subscribe-green"
                      data-bs-toggle="modal"
                      data-bs-target="#subscription-modal"
                      onclick="$('#subscription-type').val('Couple');
                      $('#total-price').val('2299');
                      $('#base-price').text('2299');"
                    >
                      Get Started
                    </button>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-subscription mb-4 shadow-sm">
                  <div class="card-body text-center">
                    <h3 class="card-title">Family</h3>
                    <h5 class="card-title">
                      ₱3399.00<small class="text-muted fw-light">/week*</small>
                    </h5>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li class="text-link">Twice a week delivery.</li>
                      <li class="text-link">2 meals for 4 person.</li>
                      <li class="text-link">24 total meals.</li>
                      <li class="text-link">Cancel any time.</li>
                    </ul>
                    <button
                      type="button"
                      class="w-100 btn-subscribe-green"
                      data-bs-toggle="modal"
                      data-bs-target="#subscription-modal"
                      onclick="$('#subscription-type').val('Family')
                      $('#total-price').val('3399');
                      $('#base-price').text('3399');"
                    >
                      Get Started
                    </button>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="subscription-modal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                aria-labelledby="staticBackdropLabel"
              >
                <div class="modal-dialog modal-lg modal-dialog-center">
                  <div class="modal-content">
                    <div class="modal-header">
                      <input
                        type="text"
                        readonly
                        class="fs-4 p-0 form-control-plaintext text-primary-green text-center"
                        id="subscription-type"
                        name="subscription-type"
                        value="Couple"
                        style="width: 6ch"
                        form="form-subscription"
                      />
                      <span class="fs-5 fw-light text-muted"
                        >&nbsp- Glean Store Subscription</span
                      >
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        onclick="$('#form-subscription')[0].reset();"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form
                        id="form-subscription"
                        method="POST"
                        action="/checkout"
                      >
                        <div class="container">
                          <p class="fs-3 fw-bold text-muted">
                            Choose your preferences
                          </p>
                          <div id="checkboxes">
                            <div class="row g-2 text-center">
                              <div class="col-6 col-md-3">
                                <input
                                  type="checkbox"
                                  name="categ:Meat & Veggie"
                                  id="meat-and-veggie"
                                  value="mav"
                                />
                                <label
                                  class="p-3 bg-light text-link w-100 cat-box rounded"
                                  style="height: 6rem"
                                  for="meat-and-veggie"
                                >
                                  <img
                                    src="/static/assets/meat_and_veggie.png"
                                    style="max-width: 30px"
                                  /><br />
                                  Meat and Veggie
                                </label>
                              </div>
                              <div class="col-6 col-md-3">
                                <input
                                  type="checkbox"
                                  name="categ:Veggie"
                                  id="veggie"
                                  value="veg"
                                />
                                <label
                                  class="p-3 bg-light text-link w-100 cat-box rounded"
                                  style="height: 6rem"
                                  for="veggie"
                                >
                                  <img
                                    src="/static/assets/veggie.png"
                                    style="max-width: 30px"
                                  /><br />
                                  Veggie
                                </label>
                              </div>
                              <div class="col-6 col-md-3">
                                <input
                                  type="checkbox"
                                  name="categ:Family Friendly"
                                  id="fam_friendly"
                                  value="fam"
                                />
                                <label
                                  class="p-3 bg-light text-link w-100 cat-box rounded"
                                  style="height: 6rem"
                                  for="fam_friendly"
                                >
                                  <img
                                    src="/static/assets/fammily_friendly.png"
                                    style="max-width: 30px"
                                  /><br />
                                  Family Friendly
                                </label>
                              </div>
                              <div class="col-6 col-md-3">
                                <input
                                  type="checkbox"
                                  name="categ:Low Calorie"
                                  id="low_cal"
                                  value="lcal"
                                />
                                <label
                                  class="p-3 bg-light text-link w-100 cat-box rounded"
                                  style="height: 6rem"
                                  for="low_cal"
                                >
                                  <img
                                    src="/static/assets/low_calorie.png"
                                    style="max-width: 30px"
                                  /><br />
                                  Low Calorie
                                </label>
                              </div>
                            </div>
                            <div class="row g-2 pt-2 text-center">
                              <div class="col-6 col-md-3">
                                <input
                                  type="checkbox"
                                  name="categ:Quick & Easy"
                                  id="qck_ez"
                                  value="qne"
                                />
                                <label
                                  class="p-3 bg-light text-link w-100 cat-box rounded"
                                  style="height: 6rem"
                                  for="qck_ez"
                                >
                                  <img
                                    src="/static/assets/quick_and_easy.png"
                                    style="max-width: 30px"
                                  /><br />
                                  Quick and Easy
                                </label>
                              </div>
                              <div class="col-6 col-md-3">
                                <input
                                  type="checkbox"
                                  name="categ:Pescatarian"
                                  id="pescat"
                                  value="pct"
                                />
                                <label
                                  class="p-3 bg-light text-link w-100 cat-box rounded"
                                  style="height: 6rem"
                                  for="pescat"
                                >
                                  <img
                                    src="/static/assets/pescatarian.png"
                                    style="max-width: 30px"
                                  /><br />
                                  Pescatarian
                                </label>
                              </div>
                              <div class="col-6 col-md-3">
                                <input
                                  type="checkbox"
                                  name="categ:Original Filipino"
                                  id="org_fil"
                                  value="fil"
                                />
                                <label
                                  class="p-3 bg-light text-link w-100 cat-box rounded"
                                  style="height: 6rem"
                                  for="org_fil"
                                >
                                  <img
                                    src="/static/assets/original_filipino.png"
                                    style="max-width: 30px"
                                  /><br />
                                  Original Filipino
                                </label>
                              </div>
                              <div class="col-6 col-md-3">
                                <input
                                  type="checkbox"
                                  name="categ:Im Feeling Lucky"
                                  id="lucky"
                                  value="luk"
                                />
                                <label
                                  class="p-3 bg-light text-link w-100 cat-box rounded"
                                  style="height: 6rem"
                                  for="lucky"
                                >
                                  <img
                                    src="/static/assets/im_feeling_lucky.png"
                                    style="max-width: 30px"
                                  /><br />
                                  Im Feeling Lucky
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <p class="fs-3 pt-4 fw-bold text-muted">
                              Customize your plan
                            </p>
                            <div class="col-md-6">
                              <p class="fs-6">Delivery Day</p>
                              <div
                                class="btn-group w-100"
                                role="group"
                                aria-label="Basic radio toggle button group"
                              >
                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-day"
                                  value="Monday"
                                  id="dp3"
                                  autocomplete="off"
                                  checked
                                />
                                <label class="btn btn-outline-success" for="dp3"
                                  >Mon</label
                                >

                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-day"
                                  value="Tuesday"
                                  id="dp4"
                                  autocomplete="off"
                                />
                                <label class="btn btn-outline-success" for="dp4"
                                  >Tue</label
                                >

                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-day"
                                  value="Wednesday"
                                  id="dp5"
                                  autocomplete="off"
                                />
                                <label class="btn btn-outline-success" for="dp5"
                                  >Wed</label
                                >

                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-day"
                                  value="Thursday"
                                  id="dp6"
                                  autocomplete="off"
                                />
                                <label class="btn btn-outline-success" for="dp6"
                                  >Thu</label
                                >

                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-day"
                                  value="Friday"
                                  id="dp7"
                                  autocomplete="off"
                                />
                                <label class="btn btn-outline-success" for="dp7"
                                  >Fri</label
                                >

                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-day"
                                  value="Saturday"
                                  id="dp8"
                                  autocomplete="off"
                                />
                                <label class="btn btn-outline-success" for="dp8"
                                  >Sat</label
                                >
                              </div>

                              <p class="fs-6 pt-3">Meals per day</p>
                              <div
                                class="btn-group w-75"
                                role="group"
                                aria-label="Basic radio toggle button group"
                              >
                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-meals"
                                  value="1"
                                  id="rd1"
                                  autocomplete="off"
                                  checked
                                  onclick="$('#total-price').val(parseInt($('#base-price').text()));"
                                />
                                <label
                                  class="btn btn-outline-secondary"
                                  for="rd1"
                                  >1</label
                                >

                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-meals"
                                  value="2"
                                  id="rd2"
                                  autocomplete="off"
                                  onclick="$('#total-price').val(Math.floor(parseInt($('#base-price').text())*1.9));"
                                />
                                <label
                                  class="btn btn-outline-secondary"
                                  for="rd2"
                                  >2</label
                                >

                                <input
                                  type="radio"
                                  class="btn-check"
                                  name="radio-meals"
                                  value="3"
                                  id="rd3"
                                  autocomplete="off"
                                  onclick="$('#total-price').val(Math.floor(parseInt($('#base-price').text())*2.7));"
                                />
                                <label
                                  class="btn btn-outline-secondary"
                                  for="rd3"
                                  >3</label
                                >
                              </div>
                            </div>
                          </div>
                          <div class="row pt-5 mt-2">
                            <h2 class="visually-hidden" id="base-price">
                              1199
                            </h2>
                            <div class="col border-top">
                              <ul class="list-group list-group-flush">
                                <li
                                  class="list-group-item d-flex justify-content-between"
                                >
                                  <span class="w-25">Total (PHP)</span>
                                  <input
                                    type="text"
                                    readonly
                                    class="p-0 form-control-plaintext fw-bold text-end"
                                    id="total-price"
                                    name="total-price"
                                    value="1199"
                                  />
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="text-center pt-5 pb-3">
                            <button
                              type="submit"
                              class="w-50 btn-subscribe-green"
                            >
                              Select this plan
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center pt-4">
              <small class="text-muted"
                >* is an indication of the starting price</small
              >
            </div>
          </div>
        </div>
        {% endif %}

        <div class="album pb-5 tab-pane fade" id="favorites-tab">
          <div class="container elementToFadeInAndOut" id="favoritescards">
            <!--Favorites Section-->
            <div
              class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 px-5 px-sm-0"
              id="container-favorites"
            >
              {% for item in favorites %}
              <div class="col" id="cardfave-{{ item.product.id }}">
                <div
                  class="card shadow-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#modalfave-{{ item.product.id }}"
                >
                  <img
                    src="{{item.product.image}}"
                    alt="{{item.product.name}}"
                    class="card-img-top card-ggc"
                  />
                  <div class="card-body card-body-height">
                    <h5 class="overflow-ellipsis">{{ item.product.name }}</h5>
                    <p class="card-text card-description">
                      {{ item.product.description }}
                    </p>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center ms-3 mt-1 mb-3"
                  >
                    <span
                      class="badge rounded-pill bg-primary-green prod-category"
                      >{{ item.product.category }}</span
                    >
                  </div>
                </div>

                <div
                  class="modal fade"
                  id="modalfave-{{ item.product.id }}"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header border-0">
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="container px-lg-5 my-5 mt-3">
                          <div class="row gx-4 gx-lg-5 align-items-center">
                            <div class="col-md-12 col-lg-6">
                              <img
                                class="card-img mb-5 mb-md-0"
                                src="{{ item.product.image }}"
                              />
                            </div>
                            <div class="col-md-12 col-lg-6 mt-4">
                              <span
                                class="badge rounded-pill bg-primary-green mb-1"
                                >{{ item.product.category }}</span
                              >
                              <h1 class="fs-2 fw-bolder">
                                {{ item.product.name }}
                              </h1>
                              <div class="fs-4 mb-2">
                                <span>₱{{item.product.price}}</span>
                              </div>
                              <p class="lead fs-5">
                                {{ item.product.description }}
                              </p>
                              <div class="d-flex pt-4">
                                <input
                                  class="form-control text-center me-3"
                                  id="{{item.product.id}}-inputQuantity"
                                  type="number"
                                  max="9"
                                  min="1"
                                  value="1"
                                  style="max-width: 3.5rem"
                                />
                                <button
                                  onclick="favorite(event, '{{item.product.id}}')"
                                  class="btn-favorite flex-shrink-0 me-2"
                                  type="button"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                >
                                  <i class="bi bi-heart-fill"></i>
                                </button>
                                <button
                                  onclick="addtoCart('{{id}}', '{{item.product.id}}')"
                                  class="btn-primary-green flex-shrink-0"
                                  type="button"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                >
                                  <i
                                    class="bi bi-cart-plus me-1 text-white"
                                  ></i>
                                  Add to cart
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% if favorites_id|length > 0 %}
            <div class="container d-none" id="no-favs">
              <div
                class="d-flex flex-column align-items-center justify-content-center w-100"
                style="height: 35rem"
              >
                <i class="bi bi-box2-heart text-primary-green display-1"></i>
                <p class="fs-4 mt-2 fw-lighter text-muted">
                  There seems to be nothing here.
                </p>
              </div>
            </div>
            {% else %}
            <div class="container" id="no-favs">
              <div
                class="d-flex flex-column align-items-center justify-content-center w-100"
                style="height: 35rem"
              >
                <i class="bi bi-box2-heart text-primary-green display-1"></i>
                <p class="fs-4 mt-2 fw-lighter text-muted">
                  There seems to be nothing here.
                </p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </main>

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-muted text-link">
          &copy; 2022 gleanprojecteam
        </p>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="#top" class="nav-link px-2 text-muted text-link"
              >Back to top</a
            >
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
