<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <meta name="viewport" content="width=device=width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/profile.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>
  <body>
    <header>
      <div class="container py-1 py-md-2 text-center px-0 border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-4 d-flex mb-3 mt-3">
              <a href="/store" class="ms-2">
                <img src="/static/assets/logo.svg" class="logo-image" />
              </a>
            </div>

            <div
              class="d-none d-md-block col-md-4 my-auto position-relative px-md-0 pt-1"
            >
              <input
                onkeyup="search(event)"
                id="search-product"
                type="text"
                class="form-control bg-light border-0 rounded-pill search-bar px-3"
                placeholder="Search"
              />
              <i
                class="bi bi-search position-absolute top-50 end-0 translate-middle-y pe-3 text-muted fw-bold pt-md-1 pt-xl-1"
              ></i>
            </div>

            <div
              class="pt-1 col-6 col-md-4 d-flex justify-content-end justify-content-md-end align-items-center"
            >
              <div class="d-flex">
                {% if user %}
                <div class="dropdown">
                  <a
                    class="nav-link text-link text-muted dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-person-circle"></i> &nbsp;{{user.firstname}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/profile"
                        ><i class="bi bi-person-circle"></i> &nbsp;&nbsp;My
                        Account</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/tracking"
                        ><i class="bi bi-box"></i> &nbsp; Order Tracking</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/settings"
                        ><i class="bi bi-gear"></i> &nbsp; Settings</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/logout"
                        ><i class="bi bi-box-arrow-right"></i> &nbsp; Log out</a
                      >
                    </li>
                  </ul>
                </div>
                {% else %}
                <a class="nav-link text-link text-muted mx-2" href="/login"
                  >Sign in</a
                >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="pt-2">
        <div class="d-block d-md-none container mt-1 position-relative">
          <input
            onkeyup="search(event)"
            id="search-products"
            type="text"
            class="form-control bg-light border-0 rounded search-bar m-0"
            placeholder="Search"
          />
          <i
            class="bi bi-search position-absolute top-50 end-0 translate-middle-y pe-4 text-muted fw-bold"
          ></i>
        </div>

        <div class="container px-0 mt-3 mt-md-0">
          <img
            id="hero-img"
            src="/static/assets/2.jpg"
            alt="..."
            class="w-100 rounded"
            style="
              height: 15rem;
              object-fit: cover !important;
              filter: saturate(95%);
            "
          />
        </div>
        <div class="mt-3 container d-flex flex-column justify-content-center">
          <div
            class="row d-flex justify-content-center align-items-center my-3"
          >
            <div class="text-center">
              <h1 class="text-secondary-gray display-1 fw-bold lh-1 mb-0">
                {{ user.firstname|upper + " " + user.lastname|upper }}
              </h1>
              <p class="mt-1 text-muted fs-5" id="member-since">
                Glean Project member since:
                <span class="text-glean fw-bold"
                  >{{ user.created_on.strftime("%B %d, %Y") }}</span
                >
              </p>
            </div>
          </div>
          <div class="row justify-content-center mt-md-1 g-4">
            <div class="col-md-6 col-lg-5 col-xl-4">
              <div
                class="shadow-sm border rounded d-flex px-4 py-4 flex-column position-relative"
                style="border-radius: 1rem !important"
              >
                <i
                  class="ms-auto bi bi-telephone text-glean fs-1 position-absolute top-0 end-0 pe-3 opacity-75"
                ></i>
                <div
                  class="d-flex border-start border-5 p-0 ps-3 flex-column justify-content-center my-1 py-2"
                  style="border-color: #95c22b !important"
                >
                  <h3 class="text-secondary-gray mb-0 fw-bolder mt-1">
                    Contact Number
                  </h3>
                  <p class="text-secondary-gray fs-5 mt-1 mb-2">
                    {{user.phone}}
                  </p>
                </div>
                <button
                  class="btn btn-sm bg-glean text-white rounded-pill position-absolute bottom-0 end-0 me-3 mb-3 px-3"
                  onclick="location.href='/settings'"
                >
                  Change
                </button>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
              <div
                class="shadow-sm border rounded d-flex px-4 py-4 flex-column position-relative"
                style="border-radius: 1rem !important"
              >
                <i
                  class="ms-auto bi bi-envelope text-glean display-5 position-absolute top-0 end-0 pe-3 opacity-75"
                ></i>
                <div
                  class="d-flex border-start border-5 p-0 ps-3 flex-column justify-content-center my-1 py-2"
                  style="border-color: #95c22b !important"
                >
                  <h3 class="text-secondary-gray mb-0 fw-bolder mt-1">Email</h3>
                  <p class="text-secondary-gray fs-5 mt-1 mb-2">
                    {{user.email}}
                  </p>
                </div>
                <button
                  class="btn btn-sm bg-glean text-white rounded-pill position-absolute bottom-0 end-0 me-3 mb-3 px-3"
                  onclick="location.href='/settings'"
                >
                  Change
                </button>
              </div>
            </div>
            <div class="col-md-12 col-lg-10 col-xl-8">
              <div
                class="shadow-sm border rounded d-flex px-4 py-5 flex-column position-relative"
                style="border-radius: 1rem !important"
              >
                <i
                  class="ms-auto bi bi-truck text-glean display-1 position-absolute top-0 end-0 pe-3 opacity-75"
                ></i>
                <div
                  class="d-flex border-start border-5 p-0 ps-3 flex-column justify-content-center my-1 py-2"
                  style="border-color: #95c22b !important"
                >
                  <h2 class="text-secondary-gray mb-0 fw-bolder mt-1">
                    Shipping Address
                  </h2>
                  <div class="row mt-4 mb-3 row-cols-sm-3 row-cols-auto">
                    <div class="col d-flex flex-column">
                      <h4 class="text-secondary-gray mb-0 fw-normal mt-1">
                        Province
                      </h4>
                      <p class="text-secondary-gray fs-5 mt-1 mb-2 fw-lighter">
                        {{ user.location.province or "Not Provided" }}
                      </p>
                    </div>
                    <div class="col d-flex flex-column">
                      <h4 class="text-secondary-gray mb-0 fw-normal mt-1">
                        City
                      </h4>
                      <p class="text-secondary-gray fs-5 mt-1 mb-2 fw-lighter">
                        {{ user.location.city or "Not Provided" }}
                      </p>
                    </div>
                    <div class="col d-flex flex-column">
                      <h4 class="text-secondary-gray mb-0 fw-normal mt-1">
                        Zip
                      </h4>
                      <p class="text-secondary-gray fs-5 mt-1 mb-2 fw-lighter">
                        {{ user.location.zip or "Not Provided" }}
                      </p>
                    </div>
                  </div>
                  <h4 class="text-secondary-gray mb-0 fw-normal mt-1">
                    Address
                  </h4>
                  <p class="text-secondary-gray fs-5 mt-1 mb-2 fw-light">
                    {{ user.location.address or "Not Provided" }}
                  </p>
                </div>
                <button
                  class="btn bg-glean text-white rounded-pill position-absolute bottom-0 end-0 me-4 mb-3 px-3"
                  onclick="location.href='/settings'"
                >
                  Change
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-muted text-link">
          &copy; 2022 gleanprojecteam
        </p>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="/store" class="nav-link px-2 text-muted text-link">Home</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
