<!DOCTYPE html>
<html>
  <head>
    <title>Settings</title>
    <meta name="viewport" content="width=device=width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/settings.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="container py-1 py-md-2 text-center px-0">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-4 d-flex mb-3 mt-3">
              <a href="/store" class="ms-2">
                <img src="/static/assets/logo.svg" class="logo-image" />
              </a>
            </div>

            <div
              class="d-none d-md-block col-md-4 my-auto position-relative px-md-0 pt-1"
            >
              <input
                onkeyup="search(event)"
                id="search-product"
                type="text"
                class="form-control bg-light border-0 rounded-pill search-bar px-3"
                placeholder="Search"
                maxlength="50"
              />
              <i
                class="bi bi-search position-absolute top-50 end-0 translate-middle-y pe-3 text-muted fw-bold pt-md-1 pt-xl-1"
              ></i>
            </div>

            <div
              class="pt-1 col-6 col-md-4 d-flex justify-content-end justify-content-md-end align-items-center"
            >
              <div class="d-flex">
                {% if user %}
                <a
                  class="nav-link text-link text-muted position-relative d-flex"
                  href="/cart"
                  ><i class="bi bi-bag"></i>
                  <span
                    id="badge_cartQty"
                    class="position-absolute translate-middle badge rounded-pill bg-danger"
                    style="top: 10%; left: 90%"
                  >
                    {{ total }}
                  </span>
                  &nbsp;Cart
                </a>
                <div class="dropdown">
                  <a
                    class="nav-link text-link text-muted dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bi bi-person-circle"></i> &nbsp;{{user.firstname}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/profile"
                        ><i class="bi bi-person-circle"></i> &nbsp;&nbsp;My
                        Account</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/tracking"
                        ><i class="bi bi-box"></i> &nbsp; Order Tracking</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/settings"
                        ><i class="bi bi-gear"></i> &nbsp; Settings</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-muted text-link"
                        href="/logout"
                        ><i class="bi bi-box-arrow-right"></i> &nbsp; Log out</a
                      >
                    </li>
                  </ul>
                </div>
                {% else %}
                <a class="nav-link text-link text-muted mx-2" href="/login"
                  >Sign in</a
                >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="pt-2" style="background-color: #f8f9fa">
        <div class="d-block d-md-none container mt-3 position-relative">
          <input
            onkeyup="search(event)"
            id="search-products"
            type="text"
            class="form-control bg-white border-0 rounded search-bar m-0"
            placeholder="Search"
            maxlength="50"
          />
          <i
            class="bi bi-search position-absolute top-50 end-0 translate-middle-y pe-4 text-muted fw-bold"
          ></i>
        </div>
        <div class="container settings py-3 py-md-3 py-lg-4">
          <div class="row">
            <div class="col-md-6">
              <div class="py-2" id="profile">
                <h5>Profile Settings</h5>
                <hr />
                <form
                  onsubmit="updateInfo(event)"
                  class="needs-validation"
                  novalidate
                >
                  <h6 class="py-1">Change Personal Data</h6>
                  <div class="row form-group g-2">
                    <div class="col-md-6">
                      <label for="fullName" class="form-label"
                        >First Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="set-first"
                        placeholder="Enter your given name"
                        value="{{ user.firstname }}"
                        readonly
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="fullName" class="form-label">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="set-last"
                        placeholder="Enter your last name"
                        value="{{ user.lastname }}"
                        readonly
                      />
                    </div>
                    <div class="col-12">
                      <label for="fullName" class="form-label">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        id="set-email"
                        placeholder="sambot@sambotdev.repl.co"
                        value="{{ user.email }}"
                        maxlength="50"
                      />
                    </div>
                    <div class="col-12">
                      <label class="form-label" for="fullName"
                        >Phone Number</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="set-phone"
                        placeholder="09*********"
                        value="{{ user.phone }}"
                        maxlength="11"
                      />
                    </div>

                    <div class="col">
                      <label for="country" class="form-label">Province</label>
                      <select
                        class="form-select"
                        id="countrySelect"
                        onchange="makeSubmenu(this.value)"
                      >
                        {% if user.location %}
                        <option value="{{ user.location.province }}" selected>
                          {{ user.location.province or "Choose..." }}
                        </option>
                        <option value="NCR">NCR</option>
                        <option value="Bulacan">Bulacan</option>
                        <option value="Rizal">Rizal</option>
                        {% else %}
                        <option value="" selected>Choose...</option>
                        <option value="NCR">NCR</option>
                        <option value="Bulacan">Bulacan</option>
                        <option value="Rizal">Rizal</option>
                        {% endif %}
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid province.
                      </div>
                    </div>

                    <div class="col">
                      <label for="state" class="form-label">City</label>
                      <select class="form-select" id="citySelect">
                        {% if user.location %}
                        <option value="{{ user.location.city }}" selected>
                          {{ user.location.city or "Choose..." }}
                        </option>
                        {% else %}
                        <option value="" disabled selected>Choose...</option>
                        {% endif %}
                      </select>
                      <div class="invalid-feedback">
                        Please provide a valid state.
                      </div>
                    </div>

                    <div class="col">
                      <label for="zip" class="form-label">Zip</label>
                      {% if user.location %}
                      <input
                        type="text"
                        class="form-control"
                        id="zip"
                        placeholder=""
                        value="{{ user.location.zip or '' }}"
                        maxlength="4"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                      />
                      {% else %}
                      <input
                        type="text"
                        class="form-control"
                        id="zip"
                        placeholder=""
                        value=""
                        maxlength="4"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                      />
                      {% endif %}
                      <div class="invalid-feedback">
                        Please provide a valid ZIP code
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="address" class="form-label">Address </label>
                      {% if user.location %}
                      <input
                        type="text"
                        class="form-control"
                        id="address"
                        placeholder="Apartment or suite"
                        value="{{ user.location.address or '' }}"
                        maxlength="100"
                      />
                      {% else %}
                      <input
                        type="text"
                        class="form-control"
                        id="address"
                        placeholder="Apartment or suite"
                        maxlength="100"
                      />
                      {% endif %}
                    </div>
                  </div>

                  <div class="pt-4">
                    <button
                      type="button"
                      class="btn-primary-green"
                      data-bs-toggle="modal"
                      data-bs-target="#saveModal"
                    >
                      Save Changes
                    </button>
                    <div
                      class="modal fade"
                      id="saveModal"
                      tabindex="-1"
                      aria-labelledby="saveModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-password">
                            <label class="py-2" for="fullName"
                              >To save the changes, please enter your
                              password.</label
                            >
                            <input
                              type="password"
                              class="form-control"
                              id="set-password"
                              value=""
                              maxlength="50"
                            />
                            <div class="py-3">
                              <button
                                type="submit"
                                class="btn-primary-green"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              >
                                Continue
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-md-6">
              <div class="py-2" id="security">
                <h5>Security Settings</h5>
                <hr />
                <form
                  onsubmit="newPassword(event, '{{user.firstname}}', '{{user.lastname}}')"
                  class="needs-validation"
                  novalidate
                >
                  <h6 class="py-1">Change Password</h6>
                  <div class="row form-group g-2">
                    <div class="">
                      <label for="settings-pass" class="form-label"
                        >New Password
                        <i
                          class="bi bi-question-circle"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji."
                        ></i
                      ></label>
                      <input
                        type="password"
                        class="form-control"
                        id="settings-pass"
                        placeholder="*********"
                        value=""
                        maxlength="50"
                      />
                      <div class="invalid-feedback">
                        Please provide a valid password
                      </div>
                    </div>
                    <div class="">
                      <label for="settings-repass" class="form-label"
                        >Re-Enter Password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="settings-repass"
                        placeholder="*********"
                        value=""
                        maxlength="50"
                      />
                      <div class="invalid-feedback">Passwords do not match</div>
                    </div>
                  </div>
                  <div class="pt-4">
                    <button type="submit" class="btn-primary-green">
                      Update Password
                    </button>
                  </div>
                </form>
                <!-- if totp is not active -->
                {% if not user.totp_key %}
                <div>
                  <div class="form-group mt-3">
                    <h6 class="py-2">Two Factor Authentication</h6>
                    <button
                      class="btn-primary-green"
                      type="button"
                      onclick="getTOTP()"
                      data-bs-toggle="modal"
                      data-bs-target="#MFAModal"
                    >
                      Enable two-factor authentication
                    </button>
                    <p class="small text-muted mt-2">
                      Two-factor authentication adds an additional layer of
                      security to your account by requiring more than just a
                      password to log in.
                    </p>
                  </div>
                  <div
                    class="modal fade"
                    id="MFAModal"
                    tabindex="-1"
                    aria-labelledby="MFAModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="form-group">
                          <div class="modal-mfa">
                            <div class="d-flex justify-content-center">
                              <div class="qr-code"></div>
                            </div>
                            <form onsubmit="verifyTOTP(event)">
                              <div class="form-group pt-4">
                                <label for="secret">Secret Token</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="totp-secret"
                                  value=""
                                  readonly
                                  maxlength="50"
                                />
                              </div>
                              <div class="form-group pt-2">
                                <label for="secret">OTP Code</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="totp-value"
                                  value=""
                                  maxlength="50"
                                />
                              </div>
                              <div class="form-group pt-2">
                                <label for="secret">Password</label>
                                <input
                                  type="password"
                                  class="form-control"
                                  id="totp-passw"
                                  value=""
                                  maxlength="50"
                                />
                              </div>
                              <div class="py-3">
                                <button
                                  type="submit"
                                  class="btn-primary-green"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                >
                                  Enable
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <!-- else if totp active -->
                <div>
                  <div class="form-group mt-3">
                    <h6 class="py-2">Two Factor Authentication</h6>
                    <button
                      class="btn-primary-green"
                      type="button"
                      onclick=""
                      data-bs-toggle="modal"
                      data-bs-target="#disMFAModal"
                    >
                      Disable two-factor authentication
                    </button>
                    <p class="small text-muted mt-2">
                      Two-factor authentication adds an additional layer of
                      security to your account by requiring more than just a
                      password to log in.
                    </p>
                  </div>
                  <div
                    class="modal fade"
                    id="disMFAModal"
                    tabindex="-1"
                    aria-labelledby="disableModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-password">
                          <form onsubmit="disableOTP(event)">
                            <label class="py-2" for="disable-mfa-password"
                              >To confirm the changes, please enter your
                              password.</label
                            >
                            <input
                              type="password"
                              class="form-control"
                              id="disable-mfa-password"
                              value=""
                              maxlength="50"
                            />
                            <div class="py-3">
                              <button
                                type="submit"
                                class="btn-primary-green"
                                data-bs-dismiss="modal"
                              >
                                Continue
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

            <div class="row pb-5">
              <div class="py-2" id="danger-zone">
                <h5>Account Settings</h5>
                <hr />
                <div class="form-group">
                  <label class="d-block text-danger">Danger Zone</label>
                  <p class="text-muted font-size-sm">
                    Once you delete your account, there is no going back. Please
                    be certain.
                  </p>
                </div>
                <button
                  class="btn-secondary-danger"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-delete-account"
                >
                  Delete Account
                </button>
              </div>
              <div
                class="modal fade"
                id="modal-delete-account"
                tabindex="-1"
                aria-labelledby="saveModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-password">
                      <label class="py-2" for="input-confirm-password"
                        >To delete your account, please enter your
                        password.</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="input-confirm-password"
                        value=""
                        maxlength="50"
                      />
                      <div class="py-3">
                        <button
                          class="btn-primary-green"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                          onclick="deleteUser(event)"
                        >
                          Continue
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-muted text-link">
          &copy; 2022 gleanprojecteam
        </p>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="/store" class="nav-link px-2 text-muted text-link">Home</a>
          </li>
        </ul>
      </footer>
    </div>

    <div
      class="modal fade"
      id="modal-feedback"
      tabindex="-1"
      aria-hidden="true"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-4 text-center">
            <p class="fs-5">Password Changed</p>
            <div class="d-flex gap-2 justify-content-center mt-4">
              <button
                onclick="location.href='/store'"
                class="btn bg-glean text-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/static/script.js"></script>
    <script type="text/javascript" src="/static/address.js"></script>
  </body>
</html>
